body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(148, 161, 173, 0.377);
}

header {
  text-align: center;
  padding: 5px;
  background-color: rgb(243, 136, 49);
  color: white;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px auto;
  width: 800px;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(128, 128, 128, 0.251);
}

form {
  width: 480px;
}

.safe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.safe h2 {
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 20px;
  padding: 0 20px;
  width: 200px;
  color: rgba(128, 128, 128, 0.568);
}
.safe i {
  font-size: 50px;
  margin: 0 15px 0 15px;
  transform: translateY(-5px);
}

.content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
.content-img img {
  height: 500px;
  width: 460px;
}
.content-img p {
  margin-top: 20px;
  line-height: 30px;
  color: rgb(82, 82, 82);
}

.header {
  position: relative;
}
.header h2 {
  font-size: 22px;
}
.header hr {
  position: absolute;
  width: 60%;
  top: 50%;
  margin: 0 0 0 48%;
  background-color: rgba(114, 114, 114, 0.308);
  border: none;
  height: 1px;
}

.package-info ul {
  list-style: none;
  margin-left: -41px;
}
.package-info i {
  color: rgb(23, 211, 6);
  font-size: 18px;
  margin-right: 5px;
  height: 40px;
  border-style: none;
}

.header2 {
  position: relative;
}
.header2 h2 {
  font-size: 22px;
}
.header2 hr {
  position: absolute;
  width: 71%;
  top: 50%;
  margin: 0 0 0 37%;
  background-color: rgba(114, 114, 114, 0.308);
  border: none;
  height: 1px;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-box input {
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 14px 10px;
  width: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.251);
  font-size: 16px;
}
.select-box select {
  margin-left: 40px;
  padding: 14px 10px;
  width: 520px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.251);
  font-size: 16px;
  color: gray;
}

.header3 {
  position: relative;
}
.header3 h2 {
  font-size: 22px;
}
.header3 hr {
  position: absolute;
  width: 61%;
  top: 50%;
  margin: 0 0 0 48%;
  background-color: rgba(114, 114, 114, 0.308);
  border: none;
  height: 1px;
}

.radio-input {
  display: flex;
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.251);
  border-radius: 5px;
  padding: 10px;
}

.radio-input label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.radio-input img {
  height: 50px;
  text-align: center;
}

.details {
  margin-top: 30px;
  padding: 10px;
  border: 2px solid rgb(3, 214, 214);
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.034);
}
.details p {
  font-size: 14px;
}
.price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: -20px;
}
.total-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: -10px 0;
}

.coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coupon input {
  padding: 14px 10px;
  width: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(128, 128, 128, 0.251);
  font-size: 16px;
  margin-bottom: 20px;
}
.coupon a {
  text-decoration: none;
  background-color: rgb(253, 165, 2);
  padding: 12px 10px;
  width: 505px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  color: white;
  border-radius: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 8px;
}
.footer img {
  height: 14px;
  margin-left: 5px;
  transform: translateY(2px);
}
